
* {
    box-sizing: border-box;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.box {
    height: auto;
    overflow: hidden;
}

.right {
    width: auto;
    float: right;
}

.left {
    width: auto;
    overflow: hidden;
}


.shinyContainer .aButton {
    border: none;
    background: linear-gradient(45deg, #E94584, #24AADB, #27DBB1, #FFDC18);
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0px 2px 2px;
    line-height: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    height: 30px;
}


.shinyContainer .aButton.rainbow {
    background: linear-gradient(45deg, #E94584, #24AADB, #27DBB1, #FFDC18);
    background-size: 600% 100%;
    animation: gradient 15s linear infinite;
    animation-direction: alternate;
}


.shinyContainer .aButton.rainbow:hover {

    background: linear-gradient(45deg, #195aa4, #24AADB, #27DBB1, #beff18);
    background-size: 600% 100%;
    animation: gradient 1s ease-in-out infinite;
    animation-direction: alternate;
}

.shinyContainer .aButton.rainbow.loading {

    background: linear-gradient(45deg, #195aa4, #24AADB, #27DBB1, #beff18);
    background-size: 600% 100%;
    animation: gradient 500ms ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}


.menu {
    background-color: rgba(250, 250, 250, 0.51);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    background-color: #424242;
    color: #ffffff;

}

.menu li:hover {
    background-color: #000000;
}

.kiss {
    display: inline-grid;
    box-sizing: border-box;
    height: auto;
}